.match-beest__container {
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  color: #590515;
}

.match-beest--complete .match-beest__tile--matched[data-id="tile_25"]{
  pointer-events: none;
  transform: rotate(-30deg);
  transform-origin: top left;
  transition: transform 300ms;
}

.match-beest .match-beest__bubble {
  stroke: #590515;
  opacity: 0;
  transform: translate(440px, 130px) scale(0.5);
}

.match-beest--complete .match-beest__bubble {
  fill: #c7f10c;
  stroke: #6f8609;
  opacity: 1;
}

/* tile */
.match-beest .match-beest__tile {
  fill: tomato;
  stroke: #590515;
  transform: rotate(0deg) scale(1);
  transition: transform 300ms, fill 300ms;
  transform-origin: initial;
  cursor: pointer;
}
.match-beest .match-beest__tile:hover {
  fill-opacity: 0.7;
  transform: rotate(3deg) scale(1.02);
  transition: transform 300ms, fill 300ms;
}

.match-beest .match-beest__tile--flipped {
  fill:#0df5b1;
  stroke:#0d966e;
}

.match-beest .match-beest__tile--matched {
  pointer-events: none;
  fill:#c7f10c;
  stroke: #6f8609;
}

.match-beest .match-beest__tile--disabled {
  pointer-events: none;
  fill-opacity: 0.1;
  stroke-opacity: 0.1;
  transition: all 300ms;
}

.match-beest .match-beest__tile--static {
  pointer-events: none;
  fill:#c7f10c;
  stroke: #6f8609;
}

/* text */
.match-beest__text-container .match-beest__text {
  display:none
}

.match-beest__text-container .match-beest__text--visible {
  display: block;
  background: #0df5b1;
}
